.contentTimeLog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0rem 0.3rem 0.5rem;
}

.contentTimeLog p {
    margin-top: 0.2rem;
}

.buttonsTimeLog {
    display: flex;
}