.contentItens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem 0rem;
}

.contentItens span {
    margin-left: 3.5rem;
}

.buttonUser {
    border: none;
    background-color: transparent;
    color: #002538;
    cursor: pointer;
    font-size: 1rem;
}