.buttonCancel {
    background: #002538;
    border: none;
    color: white;
    padding: 0.5em;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1em;
}

.buttonCancel:hover {
    color: #FE9528;
}